Source: ipcsystools
Section: restricted/admin
Priority: extra
Maintainer: Carsten Schlote <c.schlote@konzeptpark.de>
Build-Depends: debhelper (>= 7.0.50), autotools-dev, dh-systemd (>=1.5)
Standards-Version: 3.9.6
Homepage: http://www.konzeptpark.de

Package: ipcsystools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, cron
Description: Tool to operate umts modems with sophisticated network environments
 This package provides a set of tools and services for the
 the konzeptpark firmware
