[Unit]
Description=konzeptpark routing und control daemon
After=ModemManager.service
After=network.target
Conflicts=shutdown.target

[Service]
#Type=oneshot
#RemainAfterExit=yes
#ExecStart=/usr/sbin/ipc-startup 
#ExecStop=/usr/sbin/ipc-shutdown

ExecStart=/usr/sbin/ipc-service
KillSignal=SIGHUP
TimeoutStopSec=90

[Install]
WantedBy=multi-user.target

